h1 {
    color:blue;
    text-align:center;
    margin-top:300px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    background-color: #58D68D;
    margin: auto;

  }

